{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <!-- Profile template -->
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Dashboard</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section dashboard">

            <div class="row">
                <!-- Card -->
                <div class="col-xxl-3 col-md-6">
                    <div class="card info-card sales-card">
                        <div class="card-body" id="door-card">
                            <h5 class="card-title" id="door-card-title"></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-door-open"></i>
                                </div>
                                <div class="ps-3">
                                    <h6 id="door-card-status"></h6>
                                    <div class="spinner-border text-primary" id="door-spinner"></div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Card -->
                <!-- Card -->
                <div class="col-xxl-3 col-md-6">
                    <div class="card info-card sales-card clickable-card">
                        <div class="card-body" id="vent-card">
                            <h5 class="card-title" id="vent-card-title">vent</h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-wind"></i>
                                </div>
                                <div class="ps-3 d-flex justify-content-center">
                                    <h6 id="vent-card-status"></h6>
                                    <div class="spinner-border text-primary" id="vent-spinner"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Card -->
                <!-- Card -->
                <div class="col-xxl-3 col-md-6">
                    <div class="card info-card sales-card clickable-card">
                        <div class="card-body pb-0" id="light-card">
                            <div class="d-flex justify-content-between" id="light-card-top-button">
                                <h5 class="card-title" id="light-card-title"></h5>
                                <h5 class="card-title" id="light-card-auto">
                                    <div class="spinner-border spinner-border-sm" id="light-spinner-auto"></div>
                                </h5>
                            </div>
                            <div class="d-flex align-items-center" style="padding: 10px" id="light-card-bottom-button">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-lightbulb-fill"></i>
                                </div>
                                <div class="ps-3">
                                    <h6 id="light-card-status">
                                    </h6>
                                    <div class="spinner-border text-primary" id="light-spinner"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Card -->
                <!-- Card -->
                <div class="col-xxl-3 col-md-6">
                    <div class="card info-card sales-card">
                        <div class="card-body" id="movement-card">
                            <h5 class="card-title" id="movement-card-title"></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-arrows-move"></i>
                                </div>
                                <div class="ps-3">
                                    <h6 id="movement-card-status"></h6>
                                    <div class="spinner-border text-primary" id="movement-spinner"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Card -->
            </div>

            <div class="row">
                <!-- Left side columns -->
                <div class="col-lg-7">


                    <div class="card" id="table-lab-users">
                        <div class="card-body">
                            <h5 class="card-title">Present Users</h5>
                            <div class="d-none" id="show-table-empty">
                                <img style="width: 12rem; display: block; margin-left: auto; margin-right: auto;"
                                     class="p-2" src="{% static 'img/undraw_void_3ggu.svg' %}" alt="">
                                <h6 class="card-title text-center">The Lab is empty</h6>
                            </div>
                            <!-- Default Table -->
                            <table id="show-table" class="table table-sm d-none">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th scope="col"><p class="p-2 card-title">Lab User</p></th>
                                    <th scope="col"><p class="p-2 card-title">Position</p></th>
                                    <th scope="col"><p class="p-2 card-title">Present Since</p></th>
                                </tr>
                                </thead>
                                <tbody id="present-lab-users" style="border-top-color: #dee2e6">
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-center" id="present-lab-users-spinner"
                                 style="margin: 75px">
                                <div class="spinner-border text-primary"></div>
                            </div>
                        </div>
                    </div>
                    <!-- End Default Table Example -->
                    <!-- Camera Feed -->
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Video Feed <span>| cam_1</span></h5>
                            <div class=p-3">
                                <img class="shadow card mb-3 camera-feed" src="http://192.168.0.100:5000/video_feed"
                                     width="100%"
                                     alt="video_feed"></div>
                        </div><!-- End Camera Feed -->
                    </div>
                </div><!-- End Left side columns -->

                <!-- Right side columns -->
                <div class="col-lg-5">
                    <!-- Recent Activity -->
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Recent Activity</h5>

                            <div class="activity activity-feed" id="activity-feed">
                                <div class="d-flex justify-content-center" style="margin: 150px">
                                    <div class="spinner-border text-primary"></div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Recent Activity -->

                    <!-- News & Updates Traffic -->
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Quick Chat</h5>
                            <div class="chat-body" id="chat">
                                <div class="d-flex justify-content-center" style="margin: 150px">
                                    <div class="spinner-border text-primary"></div>
                                </div>
                            </div>
                            {% if user.is_authenticated %}
                                <div class="row d-flex justify-content-between align-items-center p-2">
                                    <div class="col-lg-9 d-flex">
                                    <textarea class="form-control w-100 m-auto mt-2" style="resize: none"
                                              id="chat-input"
                                              rows="3"></textarea>
                                    </div>
                                    <div class="col-lg-3 d-flex align-items-center p-2">
                                        <button class="btn btn-primary m-auto mt-2 p-5 pb-2 pt-2" id="send-btn">Send
                                        </button>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div><!-- End Right side columns -->
        </section>
    </main>
    <script type="module">
        import {Status} from "{% static 'js/status/Status.js' %}";

        $(function () {
            let statusLoader = new Status("{{ csrf_token }}");
            statusLoader.draw();
            window.setInterval(function () {
                statusLoader.draw();
            }, 2000)

            window.setInterval(function () {
                statusLoader.activityContainer.refreshTime();
                statusLoader.chat.refreshTime();
            }, 60000)
        })
    </script>
{% endblock %}